* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  width: 98%;
  height: 10vh;
  background-color: cornflowerblue;
  margin: 10px;
  padding: 15px;
  border-radius: 25px;
}
.myNav {
  display: flex;

  align-items: center;
  gap: 20px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.menu ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  gap: 40px;
  flex: 1;
}

.menu li {
  list-style: none;
  font-size: 25px;
  font-weight: 500;
}
