*{

  margin: 0px;
  padding: 0px;
}


#homeHeader {
  background-color: green;
  width: 100%;
  height: auto;


}

#myNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}


/* #myNav ul,
#myNav li {
  list-style: none;
  float: left;
  margin: 5px 10px 5px 10px;
}
#myNav a {
  text-decoration: none;
  color: rgb(245, 8, 20);
  font-weight: 700;
} */

.logo img {
  color: white;
  font-size: 22px;
  font-weight: bold;
  /* position: relative;
  width: 4%; */
}
.menu {
  display: flex;
}
.menu li {

  list-style: none;
  margin: 5px 20px;
  
}
.menu a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}
.menu a:hover {
  background-color: white;
  color: rebeccapurple;
  padding: 5px;
  border-radius: 5px;
}
/* Hamburger batton hide on desktop */
.hamburger {
  font-size: 26px;
  color: white;
  cursor: pointer;
  display: none;
}

.contactTable {
  width: 100%;
}
.contactTable,
.contactTable tr,
.contactTable td {
  border: 1px solid rgb(111, 3, 3);
  border-collapse: collapse;
}

#vissionTable,
#vissionTable tr,
#vissionTable td {
  border: 1px solid black;
  border-collapse: collapse;
}
