table,tr ,th, td {
    text-align:center;
    border: 1px solid #350101;
    border-collapse: collapse;
    
}
ul{
    list-style: square;
}
ol{list-style: lower-roman;}

#nav ul,
#nav li {list-style:none ;
float: left; 
display: flex;
margin: 5px;
color: white;}
 
#nav{ 
    background-color: cadetblue;
    width: 100%;
    height: 10vh;
}