.table{
    border: 5px;
    margin: auto;
    border-color: black;
    height: 100%;
    width: 100vh;
    align-items: center;
}
.form{
    margin: auto;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav {
    width: 10%;
    height: 100vh;
    background-color: cornflowerblue;
    float: right;
    
}
.menu ul, .menu li {
    list-style: none;
    gap: 5px;
    font-size: larger;
}
.menu li ,a {
    text-decoration:none;
    color: black;
    text-align: center; 
}
.div2 {
    height: 100vh;
    width: 90%;
    float: left;
    background-color: lightblue;

}
iframe {
    height: 100vh;
    width: 100%;
}

