* {
    margin: 0;
    padding: 0;
    
}
.div {
    width: 100%;
    height: 10vh;
    background-color: darksalmon;

}
.div ul, .div li {
    list-style: none;
    display: flex;
   gap: 5px;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
    cursor: pointer;

}
.div li :hover{
    background-color: ghostwhite;
    color: black;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    transform: rotate(360deg);

}
