.table{ margin: auto;
    width: 50%;
    height: 20vh;
    border: 5px;
border-color: black;}
.from{
    background-color: cadetblue;
    width: 50%;
    margin: auto;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    width:10% ;
    height:100vh ;
    background-color:rgb(136, 162, 250) ;
    float: left;
}
.div{
    width:90% ;
    height: 100vh;
    background-color: bisque;
    float: right;

}
.div iframe {
    width: 100%;
    height: 100vh;
}
.menu ul, .menu li  {
    list-style: none;
    gap: 5px;
    font-size: larger;

}
.menu li ,a {
    text-decoration: none;
    color: black;
    text-align: center;
}