* {
    margin:0 ;
    padding:0 ;
    box-sizing:border-box ;
}
.header {
    height: 10vh;
    width: 100%;
    background-color: lightsteelblue;
    padding: 5px;
}

.div2 {
    width: 1005;
    height: 100vh;
  }
  .div2 iframe {
    width: 100%;
    height: 100vh;
  }
  

.myNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;

}
.myNav ul ,.myNav li {
    list-style: none;
    display: flex;
    gap: 5px;


}
.myNav a { text-decoration: none;

}
