* {
  margin: 0px;
  padding: 0px;
}

#nav { 
  width: 100;
  height: 10vh;
  background-color: darkcyan;
}
#nav ul,li {
    list-style: none;
    float: right;
    display: flex;
    margin: 5px;
    color: white;
}
#container {
  background-color:aqua;
  width: 100%;
  height: 90vh;

}
#homeContainer {width: 100%;
  height: 10vh;


}