* {
  margin: 0px;
  padding: 0px;
}

#nav { 
  width: 100;
  height: 10vh;
  background-color: darkcyan;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
 
}
#nav ul,li {
    list-style: none;

    display: flex;
    margin: 5px;
    color: white;
}