* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    width:10%;
    height: 100vh;
    float: right;
    background-color: aquamarine;
    margin-bottom: 25px;
  
}
.div2 {
    width: 90%;
    height: 100vh;
    background-color: burlywood;
    float: left;
}
.div2 iframe {
    width: 100%;
    height: 100vh;
}
.nav ul , .nav li {
    list-style: none;
    gap: 5px;
   font-size: larger;

  
}
.nav li ,a {
    text-decoration: none;
    color: black;
   
}
