* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  .table,
  tr,
  th,
  td {
    border: 1px solid black;
    padding: 10px;

    border-collapse: collapse;
  }
  .div {
    width: 100%;
    height: 10vh;
    background-color: darkseagreen;
  }
  .div2 {
    width: 100%;
    height: 100vh;
    background-color: dodgerblue;
  }
}
.header {
  width: 100%;
  height: 10vh;
  background-color: rgb(159, 165, 163);
}

.nav {
  display: flex;
}
.menu {
  display: flex;
 justify-content: right;
  margin-top: 5px;
  padding: 5px;
  gap: 5px;
}
.menu li {
  list-style: none;
}
.menu a {
  text-decoration: none;
  color: black;
}

.div2 iframe {
  width: 100%;
  height: 100vh;
}
